<!-- sidebar.ejs -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->
<div class="sidebar">
    <div class="logo">
        <a href="../Main_Page/main.html"> <h1>neuzen</h1></a>
    </div>
    <ul>
        <li><a href="../Main_Page/main.html"><i class="fas fa-home"></i> Home</a></li>
        <li><i class="fas fa-search"></i> Explore</li>
        <li><a href="../Community_Page/testcommunity.html"><i class="fas fa-users"></i> Communities</a></li>
        <li><a href="../Profile_page/profile.html"><i class="fas fa-user-circle"></i> Profile</a></li>
        <li><a href="../Settings_Page/setting.html"><i class="fas fa-cog"></i> Settings</a></li>
    </ul>
</div>
